/* #region Common rules */

:root {

    --clr-darker: #000000;
    --clr-dark: #333333;
    --clr-light: #FFFFFF;
    --primary: #9792E4;
    --clr-secondary: #0084FD;
    --clr-secondary-light: #B5DDFF;
    --clr-accent: #FDC15F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}


/* #endregion Common rules */

/* #region Utilities */

.container {
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"] {
    padding: 1rem;
}

section {
    padding: 2rem 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0.75rem 2rem;
    color: var(--clr-darker);
    border-radius: 1.5rem;
    background-color: var(--clr-light);
    font-weight: bold;
}

.tx_center {
    text-align: center;
}

.no_p {
    padding-bottom: 0;
}
.letter_spacing{
    letter-spacing: 0.2rem;
}
p{
    line-height: 2rem;
}

h2{
    font-size: 2.5rem;
    margin: 2rem 0;
}

h3{
    font-size: 2rem;
    margin: 2rem 0;
}
h4{
    font-size: 1.8rem; 
    margin: 1rem 0;
}
.break_word{
    word-break: break-all;
}
/* #endregion Utilities */

/* #region Header */
header {
    background-color: var(--clr-secondary);
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

header .links {
    display: none;
}

header li {
    display: inline-block;
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--clr-light);
}

#icon {
    font-size: 2rem;
    color: var(--clr-light);
}

header .right_menu {
    align-self: center;
}

/* #endregion Header */

/* #region Main */

/* DEMO */
.demo .card {
    background-color: var(--clr-secondary-light);
    border-radius: 1rem;
    height: 100%;
    padding: 1rem;

}

.demo img {
    margin-bottom: -1.25rem;
}

.demo .icon {
    font-size: 5rem;
    color: var(--clr-secondary);
    padding-top: 1rem;
}

.demo h4 {
    color: var(--clr-secondary);
    
}

.demo p {
    margin: 1rem 0;
    padding-bottom: 1rem;
    font-weight: bold;
}

.apple {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    letter-spacing: 0.2rem;
    padding: 0.75rem 3rem;
}

.f_end {
    align-self: flex-end;
}



/* PLANNING */
.planning {
    background-color: var(--primary);
}

.planning_card {
    background-color: var(--clr-light);
    border-radius: 1rem;
}

.planning .planning_title {
    color: var(--clr-light);
}

.cicle_purple {
    background-color: var(--primary);
    border-radius: 100px;
    padding: 1.3rem 1.7rem;
    display: inline-block;
    margin: 1rem 0;
}


/* PARTNERS */

.partners .card {
    background-color: var(--primary);
    border-radius: 1rem;
    margin: 2rem 0;
    color: var(--clr-light);
    padding: 1rem;
    text-align: center;
}

.partners .headering {
    padding: 1rem 0;
}

.headering h3 {
    color: var(--primary);
}

.partners .avatar {
    width: 50%;
    aspect-ratio: 1/1;
    margin: 1rem auto;

}

.partners img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    margin-top: 1rem;
    font-size: 1.25rem;
}


/* BENEFITS */
.benefits {
    background-color: var(--primary);
}

.title_benefits h3 {
    text-align: center;
    color: var(--clr-light);
}

.benefits_card {
    background-color: var(--clr-light);
    border-radius: 1rem;
    padding: 2rem 2rem;
    height: 100%;

}

.benefits h4 {
    color: var(--primary);
}

.number {
    display: inline-block;
    font-size: 3rem;
    color: var(--primary);
    margin: 1.5rem 0;
    font-weight: bold;
    
}

.btn_purple {
    background-color: var(--primary);
    color: var(--clr-light);
    letter-spacing: 0.2rem;
    padding: 0.75rem 2.5rem;
    margin: 1rem 0;
}

/* ABOUT_US */

.about_us h2 {
    color: var(--primary); 
}

.about_us img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about_us .avatar {
    min-width: 220px;
    max-width: 250px;
    aspect-ratio: 1/1;

    position: relative;
    padding: 1rem;

}

.about_us .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 5rem;
    color: var(--primary);
}

.about_us h4 {
    color: var(--primary);
    
}

.about_us .btn_purple {
    padding: 0.75rem 1rem;
}

/* FREE */
.free {
    background-color: var(--primary);
    text-align: center;
    color: var(--clr-light);
}

.accent {
    display: inline-block;
    font-size: 4rem;
    color: var(--clr-accent);
    font-weight: bold;
    margin: 2.5rem 0;
    line-height: 4rem;
}

.free .btn {
    margin: 1.5rem 0;
}

.free .privacy {
    color: var(--clr-light);
    text-decoration: underline;
}

.btn_free {
    color: var(--primary);
    letter-spacing: 0.2rem;
    padding: 0.75rem 2.5rem;
}


/* #endregion Main */

/* #region Footer */
footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    padding: 1.5rem 0;
}

.footer_top {
    margin-bottom: 3rem;

}

.footer_bottom a {
    color: var(--primary);
    text-decoration: underline;
}

/* #endregion Footer */

/* #region Flexbox Grid */

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: 100%;
}

/* #endregion Flexbox Grid */

/* #region responsive */

@media screen and (min-width: 768px) {
    .col-md-1 {
        width: calc((100% / 12) * 1);
    }

    .col-md-2 {
        width: calc((100% / 12) * 2);
    }

    .col-md-3 {
        width: calc((100% / 12) * 3);
    }

    .col-md-4 {
        width: calc((100% / 12) * 4);
    }

    .col-md-5 {
        width: calc((100% / 12) * 5);
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: calc((100% / 12) * 7);
    }

    .col-md-8 {
        width: calc((100% / 12) * 8);
    }

    .col-md-9 {
        width: calc((100% / 12) * 9);
    }

    .col-md-10 {
        width: calc((100% / 12) * 10);
    }

    .col-md-11 {
        width: calc((100% / 12) * 11);
    }

    .col-md-12 {
        width: 100%;
    }

    /* UTILITIES */
    .container {
        width: 90%;
        margin: auto;
    }

    section {
        padding: 4rem 0;
    }
    h2 {
        font-size: 4rem;
        margin: 2rem 0;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.5rem;
    }
    

    /* DEMO */
    .demo .card {
        background-color: var(--clr-secondary-light);
        border-radius: 1rem;
        height: 100%;
        padding: 1rem;
    }

    .apple {
        margin: 2rem 0;
    }

    .demo img {
        min-width: 250px;
        max-width: 60%;
    }

    #image {
        text-align: start;

    }

    .demo p {
        margin: 0;
        padding: 0;
    }

    /* PLANNING */
    .planning .planning_img {
        text-align: center;
    }

    


    /* PARTNERS */
    .partners .flex {
        flex-wrap: nowrap;
    }

    .partners .bio {
        align-self: center;
        text-align: left;
        padding: 2rem;
    }

    .partners .avatar {
        width: 250px;
        height: 250px;
    }
 
    /* FREE */
    .free h3 {
        font-size: 3rem;
        margin: 2rem 0;
    }

    .free .container {
        width: 70%;
    }

    .free .description {
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .accent {
        line-height: 6rem;
        font-size: 6rem;
        margin: 0;
    }

    /* FOOTER */
    footer .container {
        width: 70%;
    }

    footer .description {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

}



@media screen and (min-width: 1200px) {
    .col-lg-1 {
        width: calc((100% / 12) * 1);
    }

    .col-lg-2 {
        width: calc((100% / 12) * 2);
    }

    .col-lg-3 {
        width: calc((100% / 12) * 3);
    }

    .col-lg-4 {
        width: calc((100% / 12) * 4);
    }

    .col-lg-5 {
        width: calc((100% / 12) * 5);
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: calc((100% / 12) * 7);
    }

    .col-lg-8 {
        width: calc((100% / 12) * 8);
    }

    .col-lg-9 {
        width: calc((100% / 12) * 9);
    }

    .col-lg-10 {
        width: calc((100% / 12) * 10);
    }

    .col-lg-11 {
        width: calc((100% / 12) * 11);
    }

    .col-lg-12 {
        width: 100%;
    }

    /* UTILITIES */

    .container {
        width: 70%;
        margin: auto;
    }

    header .links {
        display: block;
    }

    #icon {
        display: none;
    }

    section {
        padding: 4rem 0;
    }
    h2 {
        font-size: 2.5rem;
        margin: 2rem 0;
    }


    /* DEMO */

    .demo img {
        min-width: 250px;
        max-width: 60%;
    }


    #image {
        text-align: center;
    }

    .demo p {
        margin: 1rem 0;
    }

    .apple {
        margin: 0;
    }


    /* PLANNING */
    .planning_card {
        width: 70%;
        padding: 2rem;
        position: absolute;
        left: 2rem;
        bottom: 0;
    }

    .planning_card>img {
        width: 60%;
    }

    .p_relative {
        position: relative;
    }

    .partners .avatar {
        max-width: 250px;
    }

    /* ABOUT_US */

    .free .container, footer .container {
        width: 50%;
    }


}

/* #endregion responsive */

/* #region Debug */

.debug .partners,
.debug .free {
    height: 300px;
}

.debug footer {
    height: 200px;
}

.debug [class^="col-"] {
    border: 2px solid red;
    height: 200px;
}

/* #endregion Debug */