/* #region Common rules */

:root {

    --clr-darker: #000000;
    --clr-dark: #333333;
    --clr-light: #FFFFFF;
    --primary: #9792E4;
    --clr-secondary: #0084FD;
    --clr-secondary-light: #B5DDFF;
    --clr-accent: #FDC15F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* #endregion Common rules */

/* #region Utilities */

.container {
    width: 85%;
    margin: auto;
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"]{
    padding: 1rem;
}

section{
padding: 2rem 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding:  0.5rem 1.5rem;
    color: var(--clr-darker);
    border-radius: 1.5rem;
    background-color: var(--clr-light);
}
.tx_center{
    text-align: center;
}
.no_p{
    padding-bottom: 0;
}

/* #endregion Utilities */

/* #region Header */
header{
    background-color: var(--clr-secondary);
}
header .container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
header .links{
    display: none;
}
header li{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 1rem;
    color: var(--clr-light);  
}
#icon {
    font-size: 2rem;
    color: var(--clr-light);
}
header .right_menu{
    align-self: center;
}

/* #endregion Header */

/* #region Main */

/* DEMO */
.demo .card{
    background-color: var(--clr-secondary-light);
    border-radius: 1rem;
}
.demo img{
    width: 135px;
}
.icon{
    font-size: 4rem;
    color: var(--clr-secondary);
}
.demo h2{
    color: var(--clr-secondary);
}

/* PLANNING */
.planning{
background-color: var(--primary);
}
.planning_card{
    background-color: var(--clr-light);
    border-radius: 1rem;
}

/* PARTNERS */

.partners .card{
    background-color: var(--primary);
    border-radius: 1rem;
}




/* BENEFITS */
.benefits{
    background-color: var(--primary);
    }
/* ABOUT_US */
/* FREE */
.free{
    background-color: var(--primary);
    }
/* #endregion Main */

/* #region Footer */
footer{
    background-color: var(--clr-dark);
}
/* #endregion Footer */

/* #region Flexbox Grid */

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: 100%;
}

/* #endregion Flexbox Grid */

/* #region responsive */
@media screen and (min-width: 480px) {
    .col-md-1 {
        width: calc((100% / 12) * 1);
    }
    
    .col-md-2 {
        width: calc((100% / 12) * 2);
    }
    
    .col-md-3 {
        width: calc((100% / 12) * 3);
    }
    
    .col-md-4 {
        width: calc((100% / 12) * 4);
    }
    
    .col-md-5 {
        width: calc((100% / 12) * 5);
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: calc((100% / 12) * 7);
    }
    
    .col-md-8 {
        width: calc((100% / 12) * 8);
    
    }
    
    .col-md-9 {
        width: calc((100% / 12) * 9);
    }
    
    .col-md-10 {
        width: calc((100% / 12) * 10);
    }
    
    .col-md-11 {
        width: calc((100% / 12) * 11);
    }
    
    .col-md-12 {
        width: 100%;
    } 


    section{
        padding: 4rem 0;
        }
}

@media screen and (min-width: 1200px) {
    .col-lg-1 {
        width: calc((100% / 12) * 1);
    }
    
    .col-lg-2 {
        width: calc((100% / 12) * 2);
    }
    
    .col-lg-3 {
        width: calc((100% / 12) * 3);
    }
    
    .col-lg-4 {
        width: calc((100% / 12) * 4);
    }
    
    .col-lg-5 {
        width: calc((100% / 12) * 5);
    }
    
    .col-lg-6 {
        width: 50%;
    }
    
    .col-lg-7 {
        width: calc((100% / 12) * 7);
    }
    
    .col-lg-8 {
        width: calc((100% / 12) * 8);
    
    }
    
    .col-lg-9 {
        width: calc((100% / 12) * 9);
    }
    
    .col-lg-10 {
        width: calc((100% / 12) * 10);
    }
    
    .col-lg-11 {
        width: calc((100% / 12) * 11);
    }
    
    .col-lg-12 {
        width: 100%;
    }



    .container{
        width: 75%;
        margin: auto;
    }
    header .links{
        display: block;
    }
    #icon {
        display: none;
    }
    section{
        padding: 4rem 0;
        }








}
/* #endregion responsive */

/* #region Debug */

.debug .partners, .debug .free{
height: 300px;
}
.debug footer{
    height: 200px;
}
.debug [class^="col-"]{
    border: 2px solid red;
    height: 200px;
}
/* #endregion Debug */


